PyYAML==3.11
backports.ssl-match-hostname==3.4.0.2
boto3==1.5.7
certifi==14.05.14
dateutils==0.6.6
decorator==3.4.2
docopt==0.6.2
networkx==1.9.1
pycurl==7.19.5.1
pyparsing==2.0.3
python-dateutil==2.4.1
pytz==2015.2
six==1.9.0
tornado==4.5.2
wsgiref==0.1.2
